@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-primario: #00712D;
    --color-secundario: #F6F6F6;
    --color-terciario: #9BEC00;
    --color-hover: #272727;

    --fuente-krona: "Roboto Mono", monospace;
    --fuente-montserrat: "Roboto Mono", monospace;

    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
}

.header {
    position: relative; /* Para que los elementos absolutos se posicionen respecto a este contenedor */
    padding: 1% 0 0 10%;
    background-color: var(--color-terciario);
}

.header__image {
    width: 100%;
    height: auto;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secundario);
    text-decoration: none;

    position: absolute; /* Coloca el enlace en una posición específica dentro del contenedor */
    top: 50%; /* Ajusta la posición superior al 50% de la altura del contenedor */
    left: 50%; /* Ajusta la posición izquierda al 50% del ancho del contenedor */
    transform: translate(-50%, -50%); /* Centra el enlace */
    z-index: 1; /* Asegura que el enlace esté por encima de la imagen */
    background-color: rgba(0, 0, 0, 0.5); /* Añade un fondo semi-transparente */
    padding: 10px 20px;
    border-radius: 8px;
}

.header__menu__link:hover {
    background-color: var(--color-hover);
}
